@font-face {
	font-family: 'Work Sans';
	src: url('./fonts/work-sans/static/WorkSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Work Sans', sans-serif;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}